<div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5">

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ mod?.owner }}</li>
      <li class="breadcrumb-item active" aria-current="page">{{ mod?.name }}</li>
    </ol>
  </nav>

  <!-- Post -->

  <div class="mb-4">
    <a class="card card-hover-info bg-secondary text-decoration-none border-0 h-100 overflow-hidden"
      [routerLink]="['/mod', mod?.owner, mod?.name]">
      <div class="overflow-hidden position-relative">

        <!-- background item logo -->
        <img class="card-img-top img-blur object-fit-cover" style="height: 250px" [src]="mod?.versions?.at(0)?.icon"
          [alt]="mod?.name" loading="lazy">

        <!-- icon over background item logo -->
        <div class="position-absolute top-0 start-0 bottom-0 end-0 p-5">
          <article class="d-flex align-items-center">
            <div class="mb-4 mb-md-0">
              <a href="#">
                <img [src]="mod?.versions?.at(0)?.icon" [alt]="mod?.name" class="rounded-1" style="max-width: 144px;"
                  loading="lazy">
              </a>
            </div>
            <div class="flex-grow-1 d-flex align-items-center justify-content-between">
              <div class="ms-md-4 ms-lg-5">
                <div class="text-body-secondary mb-0">{{ mod?.owner }}</div>
                <h2 class="mb-2">
                  <a href="#">{{ mod?.name }}</a>
                </h2>
                <p class="mb-0 mb-md-1 mb-lg-3">
                  {{ mod?.versions?.at(0)?.description }}
                </p>
                <div>
                  <span>
                    <a class="badge text-nav fs-xs border me-2" href="javascript:;"
                      *ngFor="let cat of mod?.categories?.slice(0, 3)">
                      {{ cat | uppercase }}
                    </a>
                  </span>
                </div>
              </div>
              <a href="#" class="btn btn-lg btn-primary rounded-pill">
                <i class="ai-download ms-n1 me-2"></i>
                Download latest
              </a>
            </div>
          </article>
        </div>

      </div>

    </a>
  </div>

  <!-- Readme -->
  <ng-container *ngIf="github_readme">
    <div class="card bg-secondary border-0 mb-5">
      <div class="card-header">README</div>
      <div class="card-body">
        <markdown>
          {{ github_readme}}
        </markdown>
      </div>
    </div>
  </ng-container>

  <!-- versions from thunderstore -->
  <ng-container *ngIf="!github_releases || github_releases.length === 0">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem *ngFor="let version of mod?.versions; let i = index;" [collapsed]="i !== 0">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <span class="badge bg-primary me-2">
              {{ version.version_number }}
            </span>
            {{ version.name }}

          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              {{ version.description }}

              {{ version.website_url }}



            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- versions from github -->
  <ng-container *ngIf="github_releases && github_releases.length > 0">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem *ngFor="let version of github_releases; let i = index;" [collapsed]="i !== 0">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <span class="badge bg-primary me-2">
              {{ version.tag_name }}
            </span>
            {{ version.name }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <markdown>
                {{ version.body }}
              </markdown>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>






</div>
