<footer class="footer position-relative z-2 pb-3 pb-xl-0">
  <div class="d-none d-lg-block" style="margin-top: -70px;"></div>
  <div class="d-none d-md-block d-lg-none" style="margin-top: -100px;"></div>
  <div class="d-md-none" style="margin-top: -130px;"></div>

  <div class="container">
    <div class="row row-cols-1 g-1 text-center">
      <div class="col">
        <div class="h5 mb-0">
          <span class="position-relative">
            Lethalize
            <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fs-xs rounded-pill mt-n1">
              {{ appVersion }}
            </span>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="text-muted fs-xs">
          A modloader application for Lethal Company. Written in Electron and Angular.
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-wrap justify-content-center">
          <ul class="nav pt-xl-3">
            <li class="nav-item mb-1">
              <a href="https://orbitus.ca" target="_blank" class="nav-link py-1">
                <i class="ai-external-link"></i>
              </a>
            </li>
            <li class="nav-item mb-1">
              <a href="https://github.com/fearganni/LethalizeManager" target="_blank" class="nav-link py-1">
                <i class="ai-github"></i>
              </a>
            </li>
            <li class="nav-item mb-1">
              <a href="https://orbitus.ca" target="_blank" class="nav-link py-1">
                <i class="ai-telegram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- reserved rights -->
    <div class="text-center pb-3 py-4 py-xl-5">
      <p class="nav d-block fs-sm mb-0">
        <span class="text-body">© <strong>All rights reserved</strong>. Made by </span>
        <a class="nav-link d-inline-block p-0" href="https://github.com/fearganni/" target="_blank" rel="noopener">
          FearGanni
        </a>.
      </p>
    </div>
  </div>
</footer>
